<!DOCTYPE html>
<html>
<head>
<title>Diagnosis</title>

<style>
body {
    font-family:'Segoe UI';
    background: linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card {
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

input {
    padding:10px;
    width:100%;
    margin:10px 0;
}

button {
    padding:10px;
    width:100%;
    background:#667eea;
    color:white;
    border:none;
}
</style>
</head>

<body>
    <body>

<!-- ADD HERE -->
<div style="background:#333;padding:10px;text-align:center;">
    <a href="/dashboard" style="color:white;margin:10px;">Home</a>
    <a href="/diagnosis" style="color:white;margin:10px;">Diagnosis</a>
    <a href="/history" style="color:white;margin:10px;">History</a>
    <a href="/" style="color:white;margin:10px;">🚪 Logout</a>
    <h2 style="text-align:center;">🏥 MediAssist AI</h2>
<p style="text-align:center;color:gray;">Smart Healthcare Assistant</p>
</div>

<h2>Enter Symptoms</h2>
...

<div class="card">

<h2>Enter Symptoms</h2>

<form action="/predict" method="post" onsubmit="showLoading()">
<input name="symptoms" placeholder="fever, cough..." required>
<button style="background:#667eea;color:white;border:none;padding:10px;border-radius:8px;">🔍 Diagnose</button>
</form>
<p id="loading" style="display:none;color:gray;">🔄 Analyzing symptoms...</p>

<br>

<button onclick="chat()">💬 Ask AI</button>

</div>

<script>
    function showLoading() {
    document.getElementById("loading").style.display = "block";
}
function chat(){
let q = prompt("Ask health question:");
if(!q) return;

q=q.toLowerCase();

if(q.includes("fever")) alert("Stay hydrated.");
else if(q.includes("cold")) alert("Take steam.");
else alert("Consult doctor.");
}
</script>
<p style="font-size:12px;color:gray;text-align:center;margin-top:30px;">
⚠️ AI-based suggestion only. Consult a doctor for accurate diagnosis.
</p>
</body>
</html>